.product-detail {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-detail-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.product-image-gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-image img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.product-info {
  flex: 1;
}

.product-info h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.product-info h2 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.253);
}

.product-info p {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.product-info .add-to-cart {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-info .add-to-cart:hover {
  background-color: #218838;
}

.product-info .add-to-cart:active {
  transform: scale(0.98);
}

.size-options, .color-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 1rem;
  flex-wrap: wrap; /* Allow items to wrap if they overflow */
}

.size-box, .color-box {
  padding: 10px;
  border: 1px solid #1c3c46;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.size-box {
  width: 50px;
}

.color-box {
  width: 100px;
}

.size-box:hover, .color-box:hover {
  border-color: #007bff;
  background-color: #e9ecef;
}

.dynamic-section {
  margin-top: 2rem;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.tabs span {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease;
}

.tabs span.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.tabs span:hover {
  color: #0056b3;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.header h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.feature-content, .parameter-content {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.feature-content .feature-text, .parameter-content .parameter-text {
  flex: 1;
  margin-top: 0.5rem;
}

.feature-content .feature-image img, .parameter-content .parameter-image img {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}

.toggle-sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  background-color: #1c3c4686;
  padding: 1rem;
}

.toggle-sections-btn {
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.toggle-sections-btn:hover {
  border-bottom: #fff 1px solid;
}

/* Mobile S */
@media (max-width: 320px) {
  .product-detail-container {
    flex-direction: column;
  }

  .product-image-gallery {
    margin-bottom: 20px;
  }

  .size-options, .color-options {
    flex-direction: column;
    align-items: center;
  }

  .size-box, .color-box {
    width: 80%;
    margin-bottom: 10px;
  }

  .feature-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-item img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Mobile M */
@media (min-width: 321px) and (max-width: 480px) {
  .product-detail-container {
    flex-direction: column;
  }

  .product-image-gallery {
    margin-bottom: 20px;
  }

  .size-options, .color-options {
    flex-direction: column;
    align-items: center;
  }

  .size-box, .color-box {
    width: 80%;
    margin-bottom: 10px;
  }

  .feature-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-item img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
  }

  .product-image-gallery {
    margin-bottom: 20px;
  }

  .size-options, .color-options {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .size-box, .color-box {
    width: 45%;
    margin-bottom: 10px;
  }
}

/* Mobile L and up */
@media (min-width: 769px) and (max-width: 1024px) {
  .product-detail-container {
    flex-direction: row;
  }

  .product-info {
    margin-left: 20px;
  }

  .size-options, .color-options {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .size-box, .color-box {
    width: 30%;
    margin-bottom: 10px;
  }
}

.features-performance {
  padding: 20px;
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; /* Space between items */
  padding: 15px;
  border: 1px solid #ddd; /* Border for separation */
  border-radius: 8px; /* Rounded corners for each item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.feature-item img {
  width: 50%; /* Fixed width for images */
  height: auto; /* Fixed height for images */
  object-fit: cover; /* Ensure image covers the fixed dimensions */
  margin-right: 20px; /* Space between image and text */
  border-radius: 8px; /* Rounded corners for images */
}

.feature-item h3 {
  font-size: 1.25rem; /* Heading size */
  font-weight: 600; /* Font weight for emphasis */
  margin: 0 0 0.5rem 0; /* Margin for spacing */
}

.feature-item p {
  font-size: 0.875rem; /* Font size for text */
  margin: 0; /* Remove default margin */
  color: #555; /* Dark grey color for better readability */
}

.parameter-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  text-align: left;
}

.parameter-table th, 
.parameter-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.parameter-table th {
  background-color: #9601017a;
  color: white;
  font-weight: bold;
  text-align: center;
}

.parameter-table tr:nth-child(even) {
  background-color: #10466557;
}

.parameter-table td {
  text-align: center;
}

.parameter-table tr td:first-child {
  font-weight: bold;
  background-color: #10466557;
}

@media (max-width: 576px) {
  .feature-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-item img {
    width: 100%; /* Full width for smaller screens */
    margin-right: 0; /* Remove margin */
    margin-bottom: 1rem; /* Add margin to bottom */
  }

  .parameter-table th, 
  .parameter-table td {
    padding: 8px; /* Reduced padding */
  }

  .toggle-sections {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-sections-btn {
    width: 100%; /* Full width buttons */
    text-align: center;
    margin-bottom: 10px;
  }

  .toggle-sections-btn:last-child {
    margin-bottom: 0;
  }
}
