.slide_image {
  width: auto;
  height: 200px;
  border-radius: 10px;
  object-fit:contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  margin: 5px;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive height adjustments */
@media (max-width: 640px) {
  .slide_image {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .slide_image {
    height: 180px;
  }
}

@media (max-width: 1024px) {
  .slide_image {
    height: 200px;
  }
}

/* Optionally, add some additional styling for the swiper container */

